h2{
    color: aliceblue;
}
.btn.btn-warning.btn-lg{
    fill: #fc8019;
}


._ul_checkbox ul{
    padding: 0%;
    margin:0%;
}

._ul_checkbox ul li{
    list-style-type: none;
}

._ul_checkbox ul li input{
    margin-right: 4px;
}